body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:796px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:501px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u0 {
  position:absolute;
  left:11px;
  top:10px;
  width:320px;
  height:501px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1 {
  position:absolute;
  left:2px;
  top:242px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:210px;
}
#u2 {
  position:absolute;
  left:10px;
  top:10px;
  width:321px;
  height:210px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3 {
  position:absolute;
  left:2px;
  top:16px;
  width:317px;
  word-wrap:break-word;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:99px;
}
#u4 {
  position:absolute;
  left:185px;
  top:222px;
  width:132px;
  height:99px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u5 {
  position:absolute;
  left:2px;
  top:2px;
  width:128px;
  word-wrap:break-word;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:57px;
}
#u6 {
  position:absolute;
  left:10px;
  top:10px;
  width:321px;
  height:57px;
}
#u7 {
  position:absolute;
  left:2px;
  top:20px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:99px;
}
#u8 {
  position:absolute;
  left:24px;
  top:222px;
  width:128px;
  height:99px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u9 {
  position:absolute;
  left:2px;
  top:22px;
  width:124px;
  word-wrap:break-word;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:210px;
}
#u10 {
  position:absolute;
  left:10px;
  top:10px;
  width:321px;
  height:210px;
}
#u11 {
  position:absolute;
  left:2px;
  top:97px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u12 {
  position:absolute;
  left:16px;
  top:14px;
  width:308px;
  height:13px;
}
#u13 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
}
#u14 {
  position:absolute;
  left:243px;
  top:185px;
  width:81px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:95px;
}
#u16 {
  position:absolute;
  left:25px;
  top:322px;
  width:128px;
  height:95px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u17 {
  position:absolute;
  left:2px;
  top:20px;
  width:124px;
  word-wrap:break-word;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:49px;
}
#u18 {
  position:absolute;
  left:10px;
  top:509px;
  width:322px;
  height:49px;
}
#u19 {
  position:absolute;
  left:2px;
  top:16px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u20 {
  position:absolute;
  left:39px;
  top:518px;
  width:24px;
  height:24px;
}
#u21 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u22 {
  position:absolute;
  left:271px;
  top:518px;
  width:24px;
  height:24px;
}
#u23 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u24 {
  position:absolute;
  left:222px;
  top:518px;
  width:24px;
  height:24px;
}
#u25 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u26 {
  position:absolute;
  left:23px;
  top:542px;
  width:54px;
  height:10px;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u28_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u28 {
  position:absolute;
  left:221px;
  top:542px;
  width:26px;
  height:10px;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u30_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u30 {
  position:absolute;
  left:270px;
  top:542px;
  width:26px;
  height:10px;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u32 {
  position:absolute;
  left:100px;
  top:511px;
  width:30px;
  height:30px;
}
#u33 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u34 {
  position:absolute;
  left:95px;
  top:542px;
  width:38px;
  height:10px;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u36 {
  position:absolute;
  left:159px;
  top:518px;
  width:24px;
  height:24px;
}
#u37 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u38 {
  position:absolute;
  left:158px;
  top:542px;
  width:26px;
  height:10px;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u40_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:437px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:20px;
}
#u40 {
  position:absolute;
  left:341px;
  top:87px;
  width:375px;
  height:437px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:20px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  word-wrap:break-word;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:95px;
}
#u42 {
  position:absolute;
  left:185px;
  top:322px;
  width:132px;
  height:95px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u43 {
  position:absolute;
  left:2px;
  top:16px;
  width:128px;
  word-wrap:break-word;
}
#u44_div {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44 {
  position:absolute;
  left:356px;
  top:362px;
  width:440px;
  height:80px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  white-space:nowrap;
}
